body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    width: 250px;
}

.controls label {
    display: block;
    margin-bottom: 5px;
}

.controls input {
    margin-bottom: 20px;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 2px;
    background: white;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    width: auto !important;
    margin-right: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.control-button {
    padding: 8px 5px;
    background: white;
    color: black;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
}

#centerButton {
    background: black;
    color: white;
    box-shadow: 0 0 0 2px white inset;
    flex: 1;
}

#exportButton {
    flex: 2;
}

.controls p {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 0.67em;
    color: #999;
    line-height: 1.2;
}

.controls p:last-child {
    margin-bottom: 0;
}
